<p>Add New Item</p>
<form action="/items" method="post">
  <label>Name</label>
  <input type="text" name="name"/><br/>
  <label>Description</label>
  <textarea name="description"></textarea><br/>
  <label>Price</label>
  <input type="text" name="price"/><br/>
  <input type='submit'/>
</form>
